PORT=5000
ALLOWED_ORIGIN=http://127.0.0.1:5000
PLAYER_SERVER_BASE_DIR=D:\Bunmine
ANKI_MEDIA_DIR=C:\Users\User\AppData\Roaming\Anki2\UserName\collection.media
MEDIA_LIBRARY_DIR=D:\Anime




# Required for searching/downloading Japanese subtitles from jimaku.cc
JIMAKU_API_TOKEN=
